.imageSection {
  width: 40vw;
  font-size: 1vw;
  height: auto;

  background-color: bisque;
}

.image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}

.projectText {
  font-size: 1vw;
}
