.imageSection {
  width: 40vw;
  font-size: 1vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #555;
  padding: 1rem;
}

.image {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: center;
  align-self: center;
  align-items: center;
  display: flex;
}

.imageActive {
  display: flex;
  margin: 0 auto;
}

.textSection,
.projectText {
  max-width: 25rem;
  font-size: 2rem;
}

.textSection {
  margin: 5rem 0;
}

.projectTitle {
  font-size: 2.5rem;
}

.projectText {
  box-sizing: content-box;
  font-size: 1.2rem;
  height: 15rem;
  overflow-y: scroll;
  width: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  max-height: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  opacity: 0.1;
}

@media only screen and (max-width: 1200px) {
  .image {
    height: 30vh;
  }
  .imageSection {
    width: 20vw;
    font-size: 1vw;
    height: 35vh;
  }
}

@media only screen and (max-width: 912px) {
  .image {
    height: 25vh;
  }
  .imageSection {
    width: 40vw;
    height: 30vh;
    align-items: center;
  }
  .projectText {
    box-sizing: content-box;
    font-size: 1.2rem;
    height: 10rem;
  }
  .textSection {
    font-size: 0.5rem;
  }
  .projectTitle {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  .image {
    height: 20vh;
  }
}

@media only screen and (max-width: 481px) {
  .image {
    height: 20vh;
  }
  .imageSection {
    width: 40vw;
    height: 25vh;
  }
}

.imageActive {
  width: 50vw;
  height: 40vh;
}

.textSection {
  height: 20vh;
  width: 50vw;
}

.leftArrow,
.rightArrow {
  font-size: 2vw;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  min-width: 2vw;
  height: auto;
}

.leftArrowDiv {
  background-color: inherit;
  border-radius: 5%;
  height: 100%;
  display: flex;
  align-self: center;
  margin-right: auto;
  background-color: blue;
}
.rightArrowDiv {
  background-color: inherit;
  border-radius: 5%;
  height: 100%;
  display: flex;
  margin-left: auto;
  background-color: blue;
}
.leftArrowDiv:hover,
.rightArrowDiv:hover {
  background-color: rgba(38, 44, 44, 0.2);
}
