.exploreSectionTop {
  display: flex;
  flex-direction: row;
}

.exploreSectionToggleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exploreSectionToggleUp {
  transform: rotate(180deg);
  transition: transform 1s linear;
}
.exploreSectionToggleDown {
  transform: rotate(0deg);
  transition: transform 1s linear;
}

.wholeExploreSection {
  height: 19vh;
}

.popularTags {
  height: 25vh;
  position: relative;
  /* background-color: aliceblue; */
}

.tagTitle {
  font-size: 2rem;
}

.tagButton {
  border-radius: 5px;
  font-size: 1.5rem;
  border: none;
  background: inherit;
  height: 3vh;
}

.tagButton:active {
  background-color: rgba(38, 44, 44, 0.2);
  /* box-shadow: 0 5px rgb(148, 147, 147); */
  transform: translateY(4px);
}
